<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="WealthDB2ConnectionString" connectionString="Data Source=NEWHP2;Initial Catalog=WealthDB2;User ID=sa2;Password=tostos"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation targetFramework="4.0" />
    </system.web>

</configuration>
