<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DiamondDS.Properties.Settings.DiamondShopConnectionString"
            connectionString="Data Source=.;Initial Catalog=DiamondShop;User ID=sa2;Password=tostos"
            providerName="System.Data.SqlClient" />
        <add name="DiamondDS.Properties.Settings.DiamondShopConnectionString1"
            connectionString="Data Source=weng-pc\MSSQLSERVER,1433;Initial Catalog=DiamondShop;User ID=sa2;Password=tostos"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
